<h2>Tests</h2>

<h4>Statisch (met domein kennis - de eigenschappen van 'person' zijn bekend)</h4>
<h3>Welkom {{firstName}} {{middleName}} {{lastName}}!</h3>
Rollen: {{roles}}<br>
Id: {{uniqueId}}
<h4>Vraagstukken</h4>
{{myDemands}}
<h3>het mydemands object</h3>
{{myDemandsObject}}
<h3>het mydemands object via loop</h3>
<!-- {{promises}} -->
<ul>
		<li ng-repeat="demand in promises">
<!-- 		{{demand}} -->
		<ul>
			<li ng-repeat="dem_detail in demand">
				{{dem_detail.title}}<br>
				{{dem_detail.href}}
			</li>
		</ul>
	</li>
</ul>
<hr>
{{temp2}}
<hr>
<h3>Het person object:</h3>
{{test}}