
@import "coderehab/basic-setup";

nav{
    margin:0;
    padding:0;
    width:100%;
    display:table;
    height:auto;
    background-color:$color1;
    color:#fff;

    ul{
        margin:0;
        padding:0;


        li{
            display: inline-table;
            margin:0;
            padding:0;

            a{
                display:block;
                margin:0;
                color:#fff;
                padding:10px 20px;
                border-right:1px dashed #fff;
            }
        }
    }
}

#loginform {
    margin: 50px auto;
    background-color:#f2f2f2;
    border: 1px solid #ddd;
    width:350px;
    padding:2.5%;
    max-width: 95%;


    .help-block{
        color:#ff0000;
    }
}


#searchProfiles{
width:50%;
margin:0 auto;}
