<section style="width:50%; margin:auto">
    <img class='profile' width="75" height="75" ng-src="data:image/png;base64,{{picture}}"/>
    <h1>Hallo, {{ name }}</h1>
    <h3>({{ roles }})</h3>
</section>

<section id="searchProfiles" ng-controller="PersonController">
    <h2>Zoeken in personen</h2>
    <input ng-keyup="search()" ng-model="searchQuery" type="text" value="" placeholder="type achternaam"/>
    <span ng-show="searchQuery">Je zocht naar: {{ searchQuery }}</span>

    <ul ng-show="searchQuery">
        <li ng-show="result"ng-repeat="result in results">
            <a href="#/profile/{{result.lastName}}">
                <img class='profile' width="75" height="75" ng-show="result" ng-src="data:image/png;base64,{{result.picture}}"/>
                <h2>{{ result.value }}</h2>
            </a>
            <img ng-click="addToNetwork(result.value)" class="add" src="http://icdn.pro/images/en/a/d/add-more-icone-8593-48.png" width="25" height="25" />

        </li>
    </ul>
</section>
<hr>
<section style="width:50%; margin:auto">
    <h3>Mijn vraag & aanbod</h3>
    <section id="PersonalDemands">
        <h4><strong>Vragen</strong></h4>
        <ul >
            <li ng-show="demands" ng-repeat="demand in demands">
                <a href="#/profile/{{demand.title}}">
                    {{ demand.title }}
                </a>
            </li>
        </ul>
    </section>

    <section id="PersonalSupplies">
        <h4><strong>Aanbod</strong></h4>

        <ul>
            <li ng-show="supplies" ng-repeat="supply in supplies">
                <a href="#/profile/{{supply.title}}">
                    {{ supply.title }}
                </a>
            </li>
        </ul>
    </section>

    <section id="Tags">
        <h4><strong>Tags</strong></h4>
        <input ng-model="tagName" type="text" placeholder="tagnaam"/>
        <button ng-click="createTag()">Toevoegen</button>
        <ul style="clear:both; margin:20px; padding:20px 0;">
            <li style='float:left; width:33%' ng-show="supplies" ng-repeat="tag in tags">

                {{ tag.tagDescription }}

                <a href="" ng-click="deleteTag(tag)">x</a>
            </li>
        </ul>
    </section>

</section>

<!--
<h4>Alle Tags</h4>

<ul>
<li ng-repeat="tag in tags"> {{ tag.data.title }} </li>
</ul>
-->
