<h1>Home</h1>
<p>Hi {{thisIsYou.title}}. You're logged in!!</p>
<p><a href="#/login">Logout</a></a></p>
<!--
<p>{{firstName}}</p>
<p>{{middleName}}</p>
<p>{{lastName}}</p>-->
<h3>Static</h3>
<ul>
	<li>roles: {{roles}}</li>
	<li>uniqueActorId: {{uniqueActorId}}</li>
</ul>
<h3>Dynamic</h3>
<h4>All Properties and their values</h4>
<ul>
	<li 
		ng-repeat="property in allOfTypeProperty" 
		ng-hide="property.value===''"
	>
		{{property.name}} : {{property.value}}
	</li>
</ul>
<!-- <p>{{allOfTypeProperty}}</p> -->
<h4>All Collection and their links</h4>
<ul>
	<li ng-repeat="collection in allOfTypeCollection">
		{{collection.name}} : {{collection.link}}
	</li>
</ul>
<!-- <p>{{allOfTypeCollection}}</p> -->
<h4>All Actions and their links</h4>
<ul>
	<li ng-repeat="action in allOfTypeAction">
		{{action.name}} : {{action.link}}
	</li>
</ul>
<!-- <p>{{allOfTypeAction}}</p> -->
<h4>Level deeper: personalContacts collection and their links</h4>
<h5>dynamic</h5>
<!--
<ul>
	<li ng-repeat="contact in listOfPersonalContacts">
		{{contact.title}} : {{contact.href}}
		<a ng-href="#/person/{{contact.href | urlcustomencode}}">{{contact.title}}</a></li>
	<li style="list-style-type: none;">
	</li>
</ul>
-->
<ul>
	<li ng-repeat="contact in allPersonalContactObjects">
		contactPerson:
		<matching-personlink href="{{contact.contactPerson.value.href}}" link-text="{{contact.contactPerson.value.title}}"></matching-personlink> 
		<!-- <a ng-href="#/person/{{contact.contactPerson.value.href | urlcustomencode}}">{{contact.contactPerson.value.title}}</a> -->
		<br>
		trustLevel: {{contact.trustLevel.value}}
		<a ng-href="#/person/{{contact.href | urlcustomencode}}">{{contact.title}}</a></li>
	<li style="list-style-type: none;">
	</li>
</ul>
<h4>Level deeper: mySavedMatches collection and their links</h4>
<h5>dynamic</h5>
<ul>
	<li ng-repeat="match in listOfMySavedMatches">
		{{match.title}} : {{match.href}}
	</li>
</ul>
<h4>Again deeper: first saved match and their values</h4>
<ul>
	<li style="list-style-type: none;">
		<h5>static</h5>
		<b>title: {{listOfMySavedMatches[0].title}}</b>
	</li>
	<li>supplyCandidate: <a ng-href="#/person/{{allOfSavedMatchTypeProperty[1].value.href | urlcustomencode}}">{{allOfSavedMatchTypeProperty[1].value.title}}</a></li>
	<li style="list-style-type: none;">
		<h5>dynamic</h5>
	</li>
	<li 
		ng-repeat="property in allOfSavedMatchTypeProperty" 
		ng-hide="property.value===''"
	>
		{{property.name}} : {{property.value}}
	</li>
</ul>
<h3>Tests</h3>
<!--
<p>{{listOfPersonalContacts}}</p>
<p>{{allPersonalContactObjects}}</p>
-->
<matching-personlink href="http://etc.." link-text="link text"></matching-personlink>
<p>{{test1}}</p>
<p>{{test2}}</p>
<p>{{test3}}</p>