@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);
.color-1 {
  color: #A21E5C;
}

.color-2 {
  color: #000;
}

.color-3 {
  color: #ccc;
}

.color-4 {
  color: #ccc;
}

.color-5 {
  color: #ccc;
}

.font-1 {
  font-family: "Open Sans", sans-serif !important;
}

.font-2 {
  font-family: "Open Sans", sans-serif !important;
}

.font-3 {
  font-family: "Open Sans", sans-serif !important;
}

.font-4 {
  font-family: "Open Sans", sans-serif !important;
}

.font-5 {
  font-family: "Open Sans", sans-serif !important;
}

html, body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #000;
  line-height: 140%;
  margin: 0;
  padding: 0;
}
html *, body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}

hr {
  margin-top: 20px;
  clear: both;
  height: 1px;
  border: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 0px) {
  h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: 300;
    margin: 45px 0 20px 0;
    line-height: 100%;
  }

  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 100%;
  }

  h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 100%;
  }

  h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 110%;
  }

  p {
    margin: 10px 0 20px 0;
  }
}
@media (min-width: 1100px) {
  h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 65px;
    font-weight: 300;
    margin: 45px 0 20px 0;
    line-height: 100%;
  }

  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 300;
    margin: 25px 0 15px 0;
    line-height: 100%;
  }

  h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin: 25px 0 15px 0;
    line-height: 110%;
  }

  h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0 10px 0;
    line-height: 110%;
  }

  p {
    margin: 10px 0 20px 0;
  }
}
.language_nl h1 {
  color: #ccc !important;
}
.language_nl p {
  margin: 10px 0 20px 0;
}

p a {
  text-decoration: underline;
}
p a:hover {
  color: #A21E5C;
}

.partners_list a:hover, .widget_nav_menu a:hover {
  color: #A21E5C;
  text-decoration: underline;
}

.button {
  display: inline-block;
  position: relative;
  background: #ccc;
  padding: 10px 22px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  -moz-border-radius: 1px / 1px;
  -webkit-border-radius: 1px 1px;
  border-radius: 1px / 1px;
}
.button a {
  position: relative;
  display: block;
  margin: -10px -22px;
  padding: 10px 22px;
  color: #000;
  text-decoration: none;
}
.button:hover {
  background: #A21E5C;
  color: #fff;
}
.button:hover a {
  color: #fff;
}
.button.full-width {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

form {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
form:after {
  content: ' ';
  display: block;
  clear: both;
}

input, button {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px 0px;
}

button {
  width: auto;
  background-color: #222;
  color: #fff;
  float: right;
  padding: 10px 20px;
}
button:hover {
  background-color: #fff;
  color: #222;
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  height: auto;
  background-color: #A21E5C;
  color: #fff;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-table;
  margin: 0;
  padding: 0;
}
nav ul li a {
  display: block;
  margin: 0;
  color: #fff;
  padding: 10px 20px;
  border-right: 1px dashed #fff;
}

#loginform {
  margin: 50px auto;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  width: 350px;
  padding: 2.5%;
  max-width: 95%;
}
#loginform .help-block {
  color: #ff0000;
}

#searchProfiles {
  width: 50%;
  margin: 0 auto;
}
#searchProfiles ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style: none;
}
#searchProfiles ul li {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #fff;
  margin: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  border-bottom: 1px dashed #666;
}
#searchProfiles ul li img.add {
  float: right;
  margin-top: 36px;
  cursor: pointer;
}
#searchProfiles ul li img.profile, #searchProfiles ul li h2 {
  float: left;
}
#searchProfiles ul li img.profile {
  margin: 9px 20px 0 0;
}
