<h2>Demand (vraagstuk) details van<br>"{{demandDescription}}"</h2>
<ul>
	<li ng-repeat="(key, value) in test">
		{{key}}
		<ul>
			<li ng-repeat="v in value">
				{{v.name}} : {{v.value}} {{v.link}}
			</li>
		</ul>
	</li>
</ul>
<h3>Dynamic</h3>
<h4>All Properties and their values</h4>
<ul>
	<li 
		ng-repeat="property in allOfTypeProperty" 
		ng-hide="property.value===''"
	>
		{{property.name}} : {{property.value}}
	</li>
</ul>
<!-- <p>{{allOfTypeProperty}}</p> -->
<h4>Demand Profiles</h4>
<ul>
	<li ng-repeat="profile in listOfDemandProfiles">
		<b>{{profile.title}}</b><br>
		details:
<!-- 		{{profile.details[0].profileElements}} -->
		<ul>
			<li ng-repeat="element in profile.details[0].profileElements">
				<b>{{element.allOfTypeProperty[0].value}}</b><br>
				Waarde: {{element.allOfTypeProperty[1].value}}<br>
				Gewicht: {{element.allOfTypeProperty[2].value}}<br><br>
				Bron:<br>
				{{element.allOfTypeProperty}}
				<br><br>
				{{element.allOfTypeCollection}}<br><br>
				{{element.allOfTypeAction}}<br>


			</li>
		</ul>
		
		<ul>
			<li ng-repeat="detail in profile.details">
				{{detail.allOfTypeProperty}}
				<ul>
					<li ng-repeat="property in detail.allOfTypeProperty">
						{{property.name}} - {{property.value}}
					</li>
				</ul>
			</li>
		</ul>
		<ul>
			<li ng-repeat="detail in profile.details">
				{{detail.allOfTypeCollection}}
				<ul>
					<li ng-repeat="collection in detail.allOfTypeCollection">
						{{collection.name}} - {{collection.link}}
					</li>
				</ul>
			</li>
		</ul>
		{{profile}}
	</li>
</ul>
<h4>All Collection and their links</h4>
<ul>
	<li ng-repeat="collection in allOfTypeCollection">
		{{collection.name}} : {{collection.link}}
	</li>
</ul>
<!-- <p>{{allOfTypeCollection}}</p> -->
<h4>All Actions and their links</h4>
<ul>
	<li ng-repeat="action in allOfTypeAction">
		{{action.name}} : {{action.link}}
	</li>
</ul>
<!-- <p>{{allOfTypeAction}}</p> -->
{{test1}}

