
form {
    width:100%;
    box-sizing: border-box;
    padding:10px;

    &:after {
        content: ' ';
        display: block;
        clear: both;
    }
}

input, button,  {
    width:100%;
    box-sizing: border-box;
    padding:10px;
    border-radius: 5px;
    border:1px solid #ddd;
    margin:5px 0px;
}

button {
    width:auto;
    background-color:#222;
    color:#fff;
    float:right;
    padding: 10px 20px;
    &:hover{
        background-color:#fff;
        color:#222;
    }
}

